<div class="container">
  <h2>State Change Detection Demo</h2>
  <label for="inputBox" class="input-label">Type something:</label>
  <input
    id="inputBox"
    type="text"
    [(ngModel)]="currentValue"
    placeholder="Enter text here"
    class="input-box"
  />
  <button (click)="save()" class="save-button">Save</button>
  
<!--message === 'Changes saved!' -> if this is true then message-success will be applied -->
  <div
    *ngIf="message"
    [ngClass]="{
      'message-success': message === 'Changes saved!', 
      'message-info': message === 'Changes are already saved.',
      'message-error': message === 'Input is empty. Please type something.'
    }"
    class="message"
  >
    {{ message }}
  </div>
</div>
